<%= form_for(@sheet) do |f| %>
  <% if @sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sheet.errors.count, "error") %> prohibited this sheet from being saved:</h2>

      <ul>
      <% @sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Date Cut" %><br>
    <%= f.datetime_select :date, :order => [:day, :month, :year], :discard_hour => true, :discard_minute => true %>
  </div>
  <div class="field">
    <%= f.label "Sheet Height" %><br>
    <%= f.text_field :sheetH %>
  </div>
  <div class="field">
    <%= f.label "Sheet Width" %><br>
    <%= f.text_field :sheetW %>
  </div>
  <div class="field">
    <%= f.label "Material Thickness" %><br>
    <%= f.text_field :matThick %>
  </div>
  <div class="field">
    <%= f.label "Description" %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :alloy %><br>
    <%= f.number_field :alloy %>
  </div>
  <div class="field">
    <%= f.label "% Scrap" %><br>
    <%= f.text_field :scrap %>
  </div>
  <div class="field">
    <%= f.label "PO Number" %><br>
    <%= f.text_field :poNum %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
