<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @sheet.date.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>Sheet Height:</strong>
  <%= @sheet.sheetH %>
</p>

<p>
  <strong>Sheet Width:</strong>
  <%= @sheet.sheetW %>
</p>

<p>
  <strong>Material Thick:</strong>
  <%= @sheet.matThick %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sheet.desc %>
</p>

<p>
  <strong>Alloy:</strong>
  <%= @sheet.alloy %>
</p>

<p>
  <strong>Scrap:</strong>
  <%= @sheet.scrap %>
</p>

<p>
  <strong>PO Num:</strong>
  <%= @sheet.poNum %>
</p>

<%= link_to 'Edit', edit_sheet_path(@sheet) %> |
<%= link_to 'Back', sheets_path %>
