<%= form_for(@rem) do |f| %>
  <% if @rem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rem.errors.count, "error") %> prohibited this rem from being saved:</h2>

      <ul>
      <% @rem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Date Cut" %><br>
    <%= f.datetime_select :date, :order => [:day, :month, :year], :discard_hour => true, :discard_minute => true %>
  </div>
  <div class="field">
    <%= f.label "Description" %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label "Material Thickness" %><br>
    <%= f.select(:matThick, [[".100", 0.100], 
                             [".125", 0.125],
                             [".160", 0.160],
                             [".250", 0.250],
                             [".313", 0.313],
                             [".375", 0.375],
                             [".500", 0.500],
                             [".625", 0.625],
                             [".750", 0.750],
                             ["1.00", 1.000],
                             ], {:include_blank => ''}) %>
  </div>
  <div class="field">
    <%= f.label "Alloy" %><br>
    <%= f.select(:alloy, [["5052", 5052], ["5086", 5086]], {:include_blank => ''}) %>
  </div>
  <div class="field">
    <%= f.label "Square Inches" %><br>
    <%= f.text_field :sqin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
