<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @rem.date %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @rem.desc %>
</p>

<p>
  <strong>Matthick:</strong>
  <%= @rem.matThick %>
</p>

<p>
  <strong>Alloy:</strong>
  <%= @rem.alloy %>
</p>

<p>
  <strong>Sqin:</strong>
  <%= @rem.sqin %>
</p>

<%= link_to 'Edit', edit_rem_path(@rem) %> |
<%= link_to 'Back', rems_path %>
