<%= form_for(@boat) do |f| %>
  <% if @boat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boat.errors.count, "error") %> prohibited this boat from being saved:</h2>

      <ul>
      <% @boat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select(:customer_id, Customer.all, :id, :full_name) %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.select(:active, [["No", 0], ["Yes", 1]]) %>
  </div>
  <div class="field">
    <%= f.label :boat_name %><br>
    <%= f.text_field :boat_name %>
  </div>
  <div class="field">
    <%= f.label :hull_type %><br>
    <%= f.text_field :hull_type %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.number_field :length %>
  </div>
  <div class="field">
    <%= f.label :hin %><br>
    <%= f.text_field :hin %>
  </div>
  <div class="field">
    <%= f.label "Start Date" %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label "Completion Date" %><br>
    <%= f.date_select :completion_date %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
