<%= form_for(@boat) do |f| %>
  <% if @boat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boat.errors.count, "error") %> prohibited this boat from being saved:</h2>

      <ul>
      <% @boat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :HullType %><br>
    <%= f.text_field :HullType %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.number_field :length %>
  </div>
  <div class="field">
    <%= f.label :StartDate %><br>
    <%= f.date_select :StartDate %>
  </div>
  <div class="field">
    <%= f.label :CompleteDate %><br>
    <%= f.date_select :CompleteDate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
