<%= form_for(@boat) do |f| %>
  <% if @boat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boat.errors.count, "error") %> prohibited this boat from being saved:</h2>

      <ul>
      <% @boat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select(:customer_id, Customer.all, :id, :full_name) %>
  </div>
  <div class="field">
    <%= f.label :Active %><br>
    <%= f.select(:Active, [["No", 0], ["Yes", 1]]) %>
  </div>
  <div class="field">
    <%= f.label :BoatName %><br>
    <%= f.text_field :BoatName %>
  </div>
  <div class="field">
    <%= f.label :HullType %><br>
    <%= f.text_field :HullType %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.number_field :length %>
  </div>
  <div class="field">
    <%= f.label :Hin %><br>
    <%= f.text_field :Hin %>
  </div>
  <div class="field">
    <%= f.label "Start Date" %><br>
    <%= f.date_select :StartDate %>
  </div>
  <div class="field">
    <%= f.label "Completion Date" %><br>
    <%= f.date_select :CompleteDate %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
