<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @boat.customer_id %>
</p>

<p>
  <strong>Active?:</strong>
  <%= @boat.active ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Boat Name:</strong>
  <%= @boat.boat_name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @boat.hull_type %>
</p>

<p>
  <strong>Length:</strong>
  <%= @boat.length %>
</p>

<p>
  <strong>HIN:</strong>
  <%= @boat.hin %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @boat.start_date %>
</p>

<p>
  <strong>Completion Date:</strong>
  <%= @boat.completion_date %>
</p>

<%= link_to 'Edit', edit_boat_path(@boat) %> |
<%= link_to 'Back', boats_path %>
