<!DOCTYPE html>
<html>
<head>
  <title>Routersheetyield</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<ul class="nav nav-tabs">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Cut Sheets", sheets_path %></li>
		<li><%= link_to "Cut REMs", rems_path %></li>
		<li><%= link_to "Evaluation Sheet", home_evaluation_path %></li>
	</ul>

	<%= yield %>

</div>
</body>
</html>
